.img__header {
    max-width: 100%;
    height: 50vh;
    background-image: url(/images/disney_castle_background_by_jakeysamra_dgw1dhp-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


