.container {
    height: auto;
    position: relative;
    display: flex;
    padding: auto;
    justify-content: center;
    align-items: center; 
    margin: 1rem;
    gap: 1%; 
    border: solid 2.5rem white;
    transform: translateY(-50%);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    margin-left: 10%;
    margin-right: 10%;
}

.form__label {
    width: 100%;
}

.container #search {
    height: 1.8rem; /* Same height as the button */
    border: solid 0.2em blue;
    box-sizing: border-box; /* Ensure padding and border are included in the total width and height */
    padding: 0.5rem;
    
}

.input__search {
    flex-grow: 2;
    width: 100%;
  
}


.form__btn {
    flex-grow: 0; 
    height: auto; 
    background-color: blue;
    color: white;
    cursor: pointer; 
    padding: 0.3em;
    text-align: center;
}

