//linked scss
@import './layout/header';
@import './layout/search';


:root {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}



.highlights {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.liCard {
  background-color: white;

}

.cards {
  display: grid;
  
}


